.column {
    float: left;
    width: 60%;
    height: 326px;
    background-color: #c3e9f2;
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
img {
    width: 700px;
    height: auto;
    margin-left: 60px;
}
h2{
    font-size: 30px;
}
.column2{
    text-align:center;
    width:33%;
    float: left;
}
