.column {
    float: left;
    width: 33%;
    text-align: center;
}
.column2{
    float: left;
    width: 50%;
    text-align: center;
}
.column3{
    float: left;
    width: 33%;
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
h1, h3, p {
    text-align: center;
}
