.column {
    float: left;
    width: 31%;
    text-align: center;
    align-items: center;
    padding: 15px;
}
.column2{
    float: left;
    width: 60%;
    text-align: center;
    padding: 15px;
}
.column3{
    float: left;
    width: 31%;
    text-align: center;
    padding: 15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
h1, h3, p {
    text-align: center;
}
