h1 {color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center; padding: 0px;
}
h2{
    color: #2596be;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    color: #2596be;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    color: #036892;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul{
    color: #036892;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{        
    padding-top: 160px;
    padding-bottom: 80px;
}

.site_header {
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

.fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 15px 0;
    color: #fff;
    left: 0;
    bottom: 0;
}

.container{
    width: 80%;
    left: 20%;
    margin: 0 auto; /* Center the DIV horizontally */
    
}

.container_2{
    margin: 0 auto; /* Center the DIV horizontally */
    text-align: center;
}

.center {
    display: block;
    max-width: 29%;
    max-height: 89%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav {
overflow: hidden;
background-color:  #ffffff;
position: fixed;
top: 80;
left: 0%;
width: 100%;
text-align: center;
box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
.nav a {
float: left;
display: block;
color: #333;
text-align: center;
padding: 14px 14px;
text-decoration: none;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
font-size: 17px;
}

.nav a:hover {
background: #abdbe350;
color: black;
}

.main {
padding: 16px;
margin-bottom: 30px;
height: 1500px; /* Used in this example to enable scrolling */
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
